@import '../../styles/colors.css';
@import '../../styles/fonts.css';

:root {
    --padding-sm: 28px;
    --padding-lg: 32px;
}

.container {
    position: relative;
    min-width: 310px;
   background-color: white;
   box-shadow: 0px 15px 30px -11px hsla(213, 47%, 67%, .5) ;
   padding: 1.75rem;
   border-radius: 0.5rem;
   border-top: 4px solid var(--clr-primary-blue);
}

.container:first-child {
    border-color: var(--clr-primary-cyan);
}

.container:nth-child(2) {
    border-color: var(--clr-primary-red);
}

.container:nth-child(3) {
    border-color: var(--clr-primary-orange);
}

.title {
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
    color: var(--clr-neutral-very-dark-blue)
}

.copy {
    font-size: 13px;
    font-weight: var(--fw-regular);
    max-width: 250px;
    color: var(--clr-neutral-grayish-blue);
}

.icon {
    aspect-ratio: 1 / 1;
    height: 57px;
    margin-top: 33px;
    position: absolute;
    margin: 28px;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 376px) {
    .container {
        min-width: 350px;
        min-height: 250px;
    }

    .icon {
        height: 64px;
        margin: 2rem;
    }

    .title {
        margin-bottom: 6px;
    }
}
